spawn-sh-at-startup "vicinae server"
spawn-sh-at-startup "qs -c noctalia-shell"
screenshot-path "~/Pictures/Screenshots/screenshot-%Y-%m-%d-%H-%M-%S.png"

// Apps X11
xwayland-satellite {
    path "xwayland-satellite"
}

