layout {
    border {
        active-color   "#bfc2ff"
        inactive-color "#131318"
        urgent-color   "#fcadeb"
    }
    tab-indicator {
        active-color   "#bfc2ff"
        inactive-color "#131318"
        urgent-color   "#fcadeb"
    }
}

recent-windows {
    highlight {
        active-color   "#bfc2ff"
        urgent-color   "#fcadeb"
    }
}
