layout {
    border {
        active-color   "#ffb59e"
        inactive-color "#131313"
        urgent-color   "#d7c68d"
    }
    tab-indicator {
        active-color   "#ffb59e"
        inactive-color "#131313"
        urgent-color   "#d7c68d"
    }
}

recent-windows {
    highlight {
        active-color   "#ffb59e"
        urgent-color   "#d7c68d"
    }
}
